<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
	  			xmlns:h="http://java.sun.com/jsf/html"
	  			xmlns:f="http://java.sun.com/jsf/core"
                xmlns:sf="http://www.springframework.org/tags/faces"
				template="layouts/standard.xhtml">

<ui:define name="content">

<div class="section">
	<h1>Welcome to Spring Travel</h1>
	<p>
	 	This reference application illustrates how to use Spring MVC, Spring Web Flow, and Spring Faces
	 	together to power rich web applications based on Spring and JavaServerFaces technology.
	</p>
	<p>
		The key features illustrated in this sample include:
	</p>
	<ul>
		<li>A declarative navigation model enabling full browser button support and dynamic navigation rules</li>
		<li>A fine-grained state management model, including support for ConversationScope and ViewScope</li>
		<li>Modularization of web application functionality by domain use case, illustrating project structure best-practices</li>
		<li>Managed persistence contexts with the Java Persistence API (JPA)</li>
		<li>Unified Expression Language (EL) integration</li>
		<li>Spring Security integration</li>
		<li>Declarative page authoring with Facelets, including applying reusable page layouts</li>	
		<li>A lightweight component library for Ajax and client-side validation that employs progressive enhancement techniques</li>
		<li>Exception handling support across all layers of the application</li>
		<li>Spring IDE tooling integration, with support for graphical flow modeling and visualization</li>
	</ul>
	<p align="right">
		<a href="../spring/main">Start your Spring Travel experience</a>
	</p>
</div>

</ui:define>
</ui:composition>
