<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	    		xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:c="http://java.sun.com/jstl/core"
				template="layouts/standard.xhtml">

<ui:define name="content">

<h1>Login Required</h1>

<div class="section">
	<c:if test="${not empty param.login_error}">
		<div class="errors">
			Your login attempt was not successful, try again.<br />
			Reason: #{sessionScope.SPRING_SECURITY_LAST_EXCEPTION.message}
		</div>
	</c:if>
	<br/>
	<p>Valid username/passwords are:</p>
	<ul>
		<li>keith/melbourne</li>
	    <li>erwin/leuven</li>
	    <li>jeremy/atlanta</li>
	    <li>scott/rochester</li>
	</ul>
</div>

<div class="section">
	<form name="f" action="${request.contextPath}/pages/loginProcess" method="post">
		<fieldset>
			<div class="field">
				<div class="label">User:</div>
				<div class="output">
					<c:if test="${not empty param.login_error}">
						<c:set var="username" value="${sessionScope.SPRING_SECURITY_LAST_USERNAME}"/>
					</c:if>
					<input type="text" name="j_username" value="#{username}"/>
				</div>
			</div>
			<div class="field">
				<div class="label">Password:</div>
				<div class="output">
					<input type="password" name="j_password" />
				</div>
			</div>
			<div class="field">
				<div class="label">Don't ask for my password for two weeks:</div>
				<div class="output">
					<input type="checkbox" name="_spring_security_remember_me"/> 
				</div>
			</div>
		</fieldset>
		<div class="buttonGroup">
			<input name="submit" type="submit" value="Login" />
		</div>
	</form>
</div>

</ui:define>
</ui:composition>
